
.emerging {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.emerging h2{
    color: white;
    font-size: 44px;
    line-height: 60px;
    width: 530px;
    text-align: center;
}

.emerging_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}

.emerging_container .item{
    position: relative;
}
.emerging_container .item .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
   bottom: -100px;
    border: none !important;
}


.emerging_container .item .content h4{
    font-size: 24px;
    line-height: 36px;
    margin-top: 130px;
}

.emerging_container .item .content span{
    font-size: 16px;
    line-height: 24px;
    width: 303px;
    letter-spacing: 1.5px;
}

.emerging_container .item .content div{
    display: flex;
    justify-content: space-around;
    gap: 180px;
    align-items: center;
    transform: translateY(65px);

}

.content_second{
    left: 30px !important;
}

.emerging_dot{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 34px;
    align-items: center;
}
