

.header{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: #86858a;
    border-bottom: 1px solid #252134;
}

.header div{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}